<div>
  <h1>
    Create your MaturityModel!
  </h1>
  <h3>
    Create a fast individual Maturity MOdel through a quick questionair!
    <br>
    Just select the option you can best relate to based on the given description
  </h3>
  <div class="selector-container">
    <ng-container *ngIf="createUserMaturityModelRequest$ | async as createUserMaturityModelRequest, else loading">
      hi
      {{showConsole(createUserMaturityModelRequest)}}
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
