<div class="projects-picker-frame">
  <h3>Project Workspace</h3>
  <ul>
    <li>
      <h4>Your Maturity Models</h4>
      <div class="selector-container">
        <ng-container *ngIf="userMaturityModels$ | async as userMaturityModels, else loading">
          <div *ngFor="let userMaturityModel of userMaturityModels" class="selector-item">
            <app-projectelement-picker-card [projectId]="projectId" [userMaturityModel] = "userMaturityModel"></app-projectelement-picker-card>
          </div>
        </ng-container>
      </div>
    </li>
  </ul>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
