<div>
  <h1>Anmeldung</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <p>
      <app-form-messages [control]="loginForm.get('email')" controlName="email"></app-form-messages>
      <app-form-messages [control]="loginForm.get('password')" controlName="password"></app-form-messages>
    </p>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>


    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Passwort" formControlName="password" style="background: white !important; visibility: visible">
      </mat-form-field>
    </div>

    <button mat-raised-button class="" type="submit" [disabled]="loginForm.invalid">Anmelden</button>

  </form>


  <div style="padding-top: 20px">
    <div>
      Noch nicht registriert?
      <a routerLink="/auth/register">
        Hier registrieren
      </a>
    </div>
  </div>
</div>
