.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.save-maturity-model-button{
  margin: 20px;
  background-color: rgba(245, 245, 245,1);

}

.example-container {
  background-color: white;
  position: absolute;
  right: 0px;
}

.example-sidenav {
  padding: 20px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-form-field {
  width: 200px;
}
