<div class="">
  <div>
        <h1>
          Geschäftsstrategie - Self Service
        </h1>
        <h3>
          Erstellen Sie ihre individuelle Geschäftsstrategie
        </h3>
  </div>
  <div>

    <button mat-raised-button color="" (click)="fileInput.click()">Konsistenzmatrix hochladen</button>
    <input hidden type="file" (change)="fileChanged($event)" #fileInput id="file">

    <div style="height: 100px"></div>

    <div *ngIf="resultArray">
        <div *ngFor="let row of resultArray">
          <div *ngFor="let cell of row" class="display-cell">
<!--            <ng-container *ngIf="cell">-->
            {{cell}}
<!--            </ng-container>-->
<!--            <ng-container *ngIf="!cell">-->
<!--              -->
<!--            </ng-container>-->
          </div>
        </div>
    </div>
  </div>

  <div style="height: 100px"></div>

  <button mat-raised-button color="" (click)="downloadDocument($event)">Download Strategiebündel</button>

  <div style="height: 100px"></div>

  <button mat-raised-button color="" (click)="clusterMembershipMatrixInput.click()">ClusterMembership-Matrix hochladen</button>
  <input hidden type="file" (change)="uploadClusterMembershipMatrix($event)" #clusterMembershipMatrixInput id="uploadClusterMembershipMatrix">

  <div style="height: 100px"></div>
</div>
