<div class="" style="padding: 100px">
  <div>
    <h1>
      Geschäftsstrategie - Self Service
    </h1>
    <h3>
      Erstellen Sie ihre individuelle Geschäftsstrategie
    </h3>
  </div>
  <div>

    <button mat-raised-button color="" (click)="fileInput.click()">Konsistenzmatrix hochladen</button>
    <input hidden type="file" (change)="uploadConsistencyMatrix($event)" #fileInput id="file">

    <div style="height: 25px"></div>

    <ng-container *ngIf="consistencyMatrix">
      <div>
        Ihre Konsistenzmatrix wurde erfolgreich hochgeladen.
      </div>
    </ng-container>

    <div style="height: 100px"></div>

    <button mat-raised-button color="" (click)="createBundles($event)">Erstelle konsistente Strategiebündel</button>

    <div style="height: 50px"></div>

    <ng-container *ngIf="bundleMatrix">
      <div>
        Die Strategiebündel wurden nun erstellt.
      </div>
    </ng-container>

    <div style="height: 50px"></div>

    <button mat-raised-button color="" (click)="downloadBundles($event)">Download konsistente Strategiebündel</button>

  </div>
</div>
