.save-maturity-model-button{
  margin: 20px;
  background-color: rgba(245, 245, 245,1);

}

.example-container {
  background-color: white;
}

.example-sidenav {
  padding: 20px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-form-field {
  width: 200px;
}
