<div>
  <div>
    Name: {{userPartialModel?.partialModel?.name}}
  </div>
  <div>
    Beschreibung:
    <div style="padding-left: 20px">
      {{userPartialModel?.partialModel?.description}}
    </div>
  </div>
  <div>
    Gewicht: {{userPartialModel?.partialModel?.weight.toFixed(2)}}
  </div>
    <ng-container *ngIf="isArray(userPartialModel.userEvaluationMetrics)">
      <ng-container *ngFor="let userEvaluationMetric of userPartialModel.userEvaluationMetrics; let i = index;trackBy:trackByIndex">
        <div class="evaluation-metrics">
          <div>
            <p>
              Metrik:
              <span style="padding-left: 10px">
                {{userEvaluationMetric.evaluationMetric.name}}
                <mat-form-field class="example-form-field">
                  <input matInput type="number" value="{{userEvaluationMetric.valueEvaluationMetric}}" (input)="keyEventUserEvaluationMatrix($event, userEvaluationMetric.id)"  />
                </mat-form-field>
                </span>
            </p>
          </div>
<!--          <div>-->
<!--            <p>-->
<!--            Current Value:-->
<!--              <mat-form-field class="example-form-field">-->
<!--              <input matInput type="number" value="{{userEvaluationMetric.valueEvaluationMetric}}" (input)="keyEventUserEvaluationMatrix($event, userEvaluationMetric.id)"  />-->
<!--              </mat-form-field>-->
<!--            </p>-->
<!--          </div>-->
        </div>
      </ng-container>
    </ng-container>

  <ng-container *ngIf="isArray(userPartialModel.subUserPartialModels)">
    <ng-container *ngFor="let _ of userPartialModel.subUserPartialModels; let i = index">
      <p style="padding-left: 20px; border-left: 1px solid black">
        <app-display-partial-model [userPartialModel]="userPartialModel.subUserPartialModels[i]" (userPartialModelChange)="keyUserSubPartialModelEvent($event)"></app-display-partial-model>
      </p>
    </ng-container>
  </ng-container>


</div>
