<div>
  <h1>
    Maturity Model
  </h1>

  <div>
    <h3>Spiderchart</h3>
    <ng-container *ngIf="userMaturityModel$ | async as userMaturityModel, else loading">
        <app-spiderchart [inputMaturityModel]="transformGraphQlInputUserMaturityModelToSpiderChartDataContract(userMaturityModel)"></app-spiderchart>
    </ng-container>
  </div>

  service-output:
    <ng-container *ngIf="{maturityModel: maturityModel$ | async} as data">
      {{data.maturityModel?.name}}
    </ng-container>

</div>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
