<div style="padding-left: 10rem; padding-right: 10rem">
  <h1>
    Maturity Model
  </h1>
  <ng-container *ngIf="{maturityModel: maturityModel$ | async} as data">
    <ng-container *ngIf="userMaturityModelSpiderChart$ | async as userMaturityModelSpiderChart, else loading">
      <ng-container *ngIf="transformGraphQlInputUserMaturityModelToSpiderChartDataContract(userMaturityModelOfUserData) as mixedMaturityModelSpiderChart">
        <ng-container *ngIf="calculateMaturityLevel(userMaturityModelOfUserData.userPartialModels) as maturityLevel">
        <div class="edit-area">
        <ul>
        <li>
          Overview:
        </li>
        <div class="center-spider-chart">
          <div class="display-maturity-model">
            Your current
            Maturity-Level is:
            <div style="text-align: center; text-decoration: underline">
              {{maturityLevel.toFixed(2)}}
            </div>
            <div>
              According to that you are:
              <div style="text-align: center; text-decoration: underline">
                {{getEnumString(maturityLevel)}}
              </div>
            </div>
          </div>
          <app-spiderchart [inputMaturityModel]="mixedMaturityModelSpiderChart"></app-spiderchart>
        </div>
        <li>
          Details:
        </li>
          <div>
            <div>
              Name: {{userMaturityModelSpiderChart.name}}
            </div>
            <div>
              Minimum: 1
            </div>
            <div>
              Maximum: 5
            </div>
            <div>
              Current inserted data:
            </div>
            <div>
              <ng-container *ngFor="let _ of userMaturityModelOfUserData.userPartialModels; let i = index">
                <div style="padding-left: 20px; border-left: 1px solid black">
                  <p>
                  <app-display-partial-model [userPartialModel]="userMaturityModelOfUserData.userPartialModels[i]" (userPartialModelChange)="onUserPartialModelChange($event, userMaturityModelOfUserData.userPartialModels[i].id)"></app-display-partial-model>
                  </p>
                </div>
              </ng-container>
            </div>
              Created: {{userMaturityModelSpiderChart.updated | customDate}}
          </div>
          <div>
            Created By: {{userMaturityModelSpiderChart.creator}}
          </div>
      </ul>
</div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
