.center-spider-chart{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.sub-tree {
  margin-left: 1em;
}

.tree-item {
  margin-top: 1em;
}

.edit-area{
  padding-top: 20px;
  line-height: 1.5;
}
