<div>
  <h1>
    Maturity Model
  </h1>
  <ng-container *ngIf="{maturityModel: maturityModel$ | async} as data">
    <ng-container *ngIf="userMaturityModel$ | async as userMaturityModel, else loading">
      <ul>
        <li>
          Overview:
        </li>
        <div class="center-spider-chart">
          <div style="">
            Reifegrad: 3
          </div>
          <app-spiderchart [inputMaturityModel]="transformGraphQlInputUserMaturityModelToSpiderChartDataContract(userMaturityModel)"></app-spiderchart>
        </div>
        <li>
          Details:
        </li>
        Name: {{userMaturityModel.name}}
        Data:
        <br>

        Created: {{userMaturityModel.created | customDate}}
        Created By: {{userMaturityModel.creator}}
      </ul>
    </ng-container>
  </ng-container>
</div>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
