<mat-toolbar color="grey">
  <h1>
    <a routerLink="" routerLinkActive="active">Digital Business Model</a>
  </h1>
  <div class="nav-items">
    <a mat-button routerLink="questionary" routerLinkActive="active"> Questionary </a>
    <a mat-button routerLink="about" routerLinkActive="active"> About </a>
    <a mat-button routerLink="impressum" routerLinkActive="active"> Impressum </a>
    <a mat-button routerLink="privacy" routerLinkActive="active"> Datenschutzerklärung </a>
</div></mat-toolbar>
