<mat-toolbar color="grey">
  <h1>
    <a routerLink="" routerLinkActive="active">Digital Business Model</a>
  </h1>

  <ng-container *ngIf="!user">
    <div class="nav-items">
      <a mat-button routerLink="questionary" routerLinkActive="active"> Questionary </a>
      <a mat-button routerLink="auth/login" routerLinkActive="active"> Login </a>
      <a mat-button routerLink="auth/register" routerLinkActive="active"> Register</a>
    </div>
  </ng-container>

  <ng-container *ngIf="user">
    <div class="nav-items">
      <a mat-button routerLink="home" routerLinkActive="active"> Test1</a>
      <a mat-button routerLink="home" routerLinkActive="active"> Test2 </a>
      <a mat-button routerLink="home" routerLinkActive="active"> Test3 </a>
    </div>
  </ng-container>
</mat-toolbar>
